<section class="">
    <!-- Footer -->
    <footer class="text-center text-white fixed-bottom" style="background-color: #2b83d0;">
        <!-- Grid container -->

        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3 " style="background-color: #287fcb; ">
            <span> © 2020 Copyright:</span><a class=" text-black" href="https://mdbootstrap.com/">
                MDBootstrap.com</a>
        </div>

        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>