<section class="" style="margin-top: 2rem; margin-top: 10rem; position: relative; width: 100%;">
    <!-- Footer -->
    <footer class="text-center text-white"
        style="background-color: #64adf2; position: absolute; bottom: 0; width: 100%;">
        <!-- Grid container -->

        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(157, 23, 23, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="#">Shopsphere.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>