<section class="">
    <!-- Footer -->
    <footer class="text-center text-white fixed-bottom" style="background-color: #64adf2;">
        <!-- Grid container -->

        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(157, 23, 23, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="#">Shopsphere.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>